<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left"><img id="barrLogo" class="img-responsive" src="/images/barrLogo.png"></a> 
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav navbar-right">
                <li class="signedIn" id="logoutButton"><a href="/logout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">

    <h1>Welcome, {{userName}}!</h1>

 {{!--    <button class="btn btn-lg btn-danger editDetails" data-userId="{{this.userId}}" data-tournamentId = "{{this.id}}">Edit user Details</button> --}}

    <h2>Registered Tournaments</h2>
     <!-- List of Tournaments -->
    <div class="row">
        <div class="col-xs-12">
            <div class="tournamentsList" id="registeredTournamentsList">
                {{#each tournament}}
                	{{#if this.ofUser }}
                    <div class="tournamentData" id="registered_{{this.id}}">
                        <h3 class="tournamentName">{{this.name}}</h3>
                        <p class="tournamentDate">Date: {{dateFormat this.date}}</p>
                        <p class="tournamentTime">Time: {{timeFormat this.time}}</p>
                        <!-- <a href='/unregister/tournament/{{this.id}}'> -->
                        <button class="registerUnregister btn btn-lg btn-danger red unregister" data-userId="{{this.userId}}" data-tournamentId = "{{this.id}}">Unregister</button>
                        <!-- </a> -->
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

    <h2>Other tournaments</h2>
     <!-- List of Tournaments -->
    <div class="row">
        <div class="col-xs-12">
            <div class="tournamentsList" id="unregisteredTournamentsList">
                {{#each tournament}}
                	{{#unless this.ofUser }}
                    <div class="tournamentData" id="unregistered_{{this.id}}">
                    <h3 class="tournamentName">{{this.name}}</h3>
                        <p class="tournamentDate">Date: {{dateFormat this.date}}</p>
                        <p class="tournamentTime">Time: {{timeFormat this.time}}</p>
                        <!-- <a href='/register/tournament/{{this.id}}'> -->
                        <button class="registerUnregister btn btn-lg green btn-success register" data-userId="{{this.userId}}" data-tournamentId = "{{this.id}}">Register</button>
                        <!-- </a> -->
                    </div>
                    {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>

</div>
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">&copy; Route 7 Bar & Grill 2017</span>
      </div>
    </footer>

 <script type="text/javascript" src="/js/user.js"></script>